/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/fonts/
/web/css/
/web/images/
/web/js/
/web/css/
/web/uploads/
/web/Resources/
/app/cache/*
/app/logs/*
/app/config/parameters.yml
/.idea/
.DS_Store
/.idea/misc.xml
/.idea/workspace.xml
node_modules
icones/
