.button {
  text-transform: uppercase;
  color:#FFFFFF;
  text-decoration: none;
  background:$color2;
  border-radius:50px;
  letter-spacing: 1px;
  display: inline-flex;
  box-shadow: -1px 1px 69px -2px $color2;
}