.modal {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 10;
  display: none;

  &__popin {
    width: 40%;
    padding:30px 20px 30px 20px;
    background:$background;
    transform: translate(-50%, -50%);
    position: absolute;
    top:50%;
    left: 50%;
    text-align: center;
    z-index: 15;
    display: none;
  }

  &__title {
    line-height: 25px;
  }

  &__form {
    border-bottom:$color 1px solid !important;
    width: 220px !important;
    display: block;
    text-align: center;
    margin:25px auto;
  }
}