body {
  color:#FFFFFF;
  font-family: 'gothamBook', Arial;
}

strong {
  font-family: gothamBold;
}

.playlistBackground {
  background:url("../images/bg_playlist.jpg") no-repeat top center $background;
  background-size:cover;
}

.connexionBackground {
  background:url("../images/background-home.png") no-repeat top right $background;
  height: 100%;
}