$heightColumn : 36px;

.listPlaylist {
  margin-top:52px;

  &__container {
    display: flex;

    &__left {
      width: 30%;
    }

    &__right {
      width: 70%;
    }
  }

  &__swag {
    &__title {
      color:white;
      font-family:gothamMedium;
      font-size: 25px;
      letter-spacing: 2px;
    }

    &__author {
      font-family: gothamBook;
      letter-spacing: 2px;
      font-size:12px;
      display: inline-block;
      margin-top: 5px;
    }

    &__check {
      color:$color-menu;
      font-size: 11px;
      margin-top: 20px;
      font-family: gothamBookItalic;

      li {
        padding-bottom:3px;

        strong {
          font-family:gothamMediumItalic;
        }
      }
    }

    &__like {
      margin-top:25px;
      margin-bottom:10px;
      font-size:20px;
      font-family:gothamLight;
      letter-spacing: 2px;

      i {
        color:$color3;
      }

      p {
        padding-top:5px;
        letter-spacing: 1px;
        padding-bottom: 10px;
        font-size:11px;
      }
    }
  }

  &__listing {
    width: 100%;

    tr {
      cursor: pointer;
      transition:all 1s;
      opacity: 0.5;

      &.song__active {
        background:$colorSelectMusique;
        opacity:1 !important;
      }

      &:hover {
        background:rgba(22, 22, 22, 0.7);
        opacity: 1;
      }

      td {
        height: $heightColumn;
        vertical-align: middle;
        font-size: 12px;
        text-align: center;
        font-family:gothamMedium;

        &:first-child {
          transition: 1s all;
          font-size:20px;
          width: 4%;
          text-align: center;
        }

        &:nth-child(2) {
          width: 4%;
          text-align: center;
        }

        &:nth-child(3) {
          width: 80%;
          line-height: 18px;
          text-align: left;
        }

        &:last-child {
          width: 12%;
          font-size:15px;
        }
      }
    }
  }
}