.menu {
  position: absolute;
  top: 56px;
  width: 210px;
  height:100%;
  background:#161616;
  padding:30px 10px 20px 20px;
  display: none;

  .menu__section {
    margin-top:30px;
    font-family:gothamMedium;

    li {
      margin-top:12px;
      transition:all 1s;
      cursor: pointer;

      &:hover {
        opacity:0.5;
      }

      &:first-child {
        font-size: 10px;
        color:$color-menu;
        font-family:gothamLight;
        text-transform: uppercase;
        opacity: 1;
      }

      a {
        font-size:12px;
        color: #ffffff;
        letter-spacing: 1px;
        text-decoration: none;

        span {
          padding-right:5px;
        }
      }
    }

    &--playlist {
      li {

      }
    }
  }
}