<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Symphonie | {% endblock %}</title>
    {% block stylesheets %}
        <style>
            @font-face{
                font-family : 'icon';
                src : url('fonts/icomoon.ttf') format('truetype');
            }
            @font-face{
                font-family : 'gothamBlack';
                src : url('fonts/Gotham-Black.otf') format('opentype');
            }

            @font-face{
                font-family : 'gothamBlackItalic';
                src : url('fonts/Gotham-BlackItalic.otf') format('opentype');
            }

            @font-face{
                font-family : 'gothamBold';
                src : url('fonts/Gotham-Bold.otf') format('opentype');
            }

            @font-face{
                font-family : 'gothamBoldItalic';
                src : url('fonts/Gotham-BoldItalic.otf') format('opentype');
            }

            @font-face{
                font-family : 'gothamBook';
                src : url('fonts/Gotham-Book.otf') format('opentype');
            }

            @font-face{
                font-family : 'gothamBookItalic';
                src : url('fonts/Gotham-BookItalic.otf') format('opentype');
            }

            @font-face{
                font-family : 'gothamLight';
                src : url('fonts/Gotham-Light.otf') format('opentype');
            }

            @font-face{
                font-family : 'gothamLightItalic';
                src : url('fonts/Gotham-LightItalic.otf') format('opentype');
            }

            @font-face{
                font-family : 'gothamMedium';
                src : url('fonts/Gotham-Medium.otf') format('opentype');
            }

            @font-face{
                font-family : 'gothamMediumItalic';
                src : url('fonts/Gotham-MediumItalic.otf') format('opentype');
            }
        </style>
        {% stylesheets '@FrontBundle/Resources/public/css/style.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <div class='toggle'>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <strong>S</strong>ymphonie
        </div>

        <a href="" class="header__addPlaylist">creer une playlist</a>

        <ul class="header__userExperience">
            <li class="header__userExperience__search">
                <span class="icon-search"></span>
                <input type="text" placeholder="Rechercher...">
                <ul class="header__userExperience__panel"></ul>
            </li>
            <li class="header__userExperience__user">
                    <span class="header__userExperience__user__picture">
                        {% image '@FrontBundle/Resources/public/images/portrait.jpeg' %}
                        <img src="{{ asset_url }}" alt="Portrait" />
                        {% endimage %}
                    </span>
                    <span class="header__userExperience__user__name">
                        john <strong>DOE</strong>
                    </span>
            </li>
            <li class="header__userExperience__logout">
                <button class="icon-shut-down"></button>
            </li>
        </ul>
    </header>

    <nav class="menu">
        <ul class="menu__section">
            <li>général</li>
            <li><a href="">Accueil</a></li>
            <li><a href="">Tendances</a></li>
            <li><a href="">Actualités</a></li>
        </ul>

        <ul class="menu__section">
            <li>Mon espace</li>
            <li><a href="">Mes amis</a></li>
            <li><a href="">Mes playlists favorites</a></li>
            <li><a href="">Mes brouillons</a></li>
        </ul>

        <ul class="menu__section menu__section--playlist">
            <li>Mes playlists</li>
            <li><a href=""><span class="icon-playlist"></span> Rap US</a></li>
            <li><a href=""><span class="icon-playlist"></span> Deep House</a></li>
            <li><a href=""><span class="icon-playlist"></span> Electro</a></li>
            <li><a href=""><span class="icon-playlist"></span> Rock</a></li>
            <li><a href=""><span class="icon-playlist"></span> Divers</a></li>
            <li><a href=""><span class="icon-add"></span> Nouvelle playlist</a></li>
        </ul>
    </nav>
    <section class="wrapper">
        {% block body %}{% endblock %}
    </section>

    <footer class="footer">
        <audio id="player__music" preload="true" src=""></audio>
        <div id="timeline">
            <div id="timeline__current"></div>
            <div id="playhead"></div>
        </div>
        <section class="player">

            <div class="player__cover"></div>

            <div class="player__audioplayer">
                <div class="player__controll">
                    <button id="prev" class="player__controll__prev icon-forward-button"></button>
                    <button id="play" class="player__controll__play icon-arrow"></button>
                    <button id="next" class="player__controll__next icon-forward-button"></button>
                </div>
                <div class="player__describe">
                    <span class="player__hidden">
                        <h1 class="player__describe__title">bonour</h1>
                    </span>
                    <span class="player__hidden">
                        <span class="player__describe__playlist">From the playlist <strong>RAP US</strong></span>
                    </span>
                </div>

                <div class="player__duration">
                    <span class="player__hidden">
                        <h6 class="player__duration__time">00</h6>
                    </span>
                </div>


                <canvas id="analyser_render" height="150px"></canvas>
            </div>
        </section>
    </footer>
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{% endblock %}
</body>
</html>