{% extends "FrontBundle::PlaylistBase.html.twig" %}
{% block title %}{{ parent() }} Name Playlist{% endblock %}
{% block body %}

    <div class="listPlaylist">
        <div class="container__fluid">
            <h1 class="breadcrumbs">
                <span>Mes playlists Favorites <span class="chevron">></span> Poposey</span>
            </h1>
            <div class="listPlaylist__container">
                <div class="listPlaylist__container__left">
                    <div class="listPlaylist__swag">
                        <h3 class="listPlaylist__swag__title">
                            POPOSEY
                        </h3>
                        <h4 class="listPlaylist__swag__author">
                            Par MACLY
                        </h4>
                    </div>
                </div>

                <div class="listPlaylist__container__right">
                    <table class="listPlaylist__listing">
                        <tr data-label = "https://soundcloud.com/ngusrunsdon/be-real-ft-dej-loaf-explicit" data-play="true" data-time="3">
                            <td>
                                <i class="icon-arrow"></i>
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                Be ReaL Ft. Dej Loaf (Explicit)
                            </td>
                            <td>
                                <i class="icon-edit"></i>
                            </td>
                        </tr>
                        <tr data-label = "https://soundcloud.com/hotnewexclusive/meek-mill-heaven-or-hell-ft" data-play="false" data-time="3">
                            <td>
                                <i class="icon-arrow"></i>
                            </td>
                            <td>
                                2
                            </td>
                            <td>
                                Meek Mill- Heaven Or Hell Ft Jadakiss, Guordan Banks (DreamChasers 3)
                            </td>
                            <td>
                                <i class="icon-edit"></i>
                            </td>
                        </tr>
                        <tr data-label = "https://soundcloud.com/detoto/detoto-the-buckeye-party-mix" data-play="true" data-time="2">
                            <td>
                                <i class="icon-arrow"></i>
                            </td>
                            <td>
                                3
                            </td>
                            <td>

                                DeToto - THE Buckeye Party Mix! (2015 Champions Edition)
                            </td>
                            <td>
                                <i class="icon-edit"></i>
                            </td>
                        </tr>
                        <tr data-label = "https://soundcloud.com/itspraddy/ed-sheeran-photograph-acoustic-version" data-play="true" data-time="1">
                            <td>
                                <i class="icon-arrow"></i>
                            </td>
                            <td>
                                4
                            </td>
                            <td>

                                Ed Sheeran - Photograph (Acoustic Version)
                            </td>
                            <td>
                                <i class="icon-edit"></i>
                            </td>
                        </tr>
                        <tr data-label = "https://soundcloud.com/itspraddy/ed-sheeran-photograph-acoustic-version" data-play="true">
                            <td>
                                <i class="icon-arrow"></i>
                            </td>
                            <td>
                                4
                            </td>
                            <td>

                                Ed Sheeran - Photograph (Acoustic Version)
                            </td>
                            <td>
                                <i class="icon-edit"></i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@FrontBundle/Resources/public/js/*.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}