{% extends "FrontBundle::layoutBase.html.twig" %}

{% block body %}
    <div class="container">
        <nav class="navbar">
            <div class="navbar__logo">
                <strong>S</strong>ymphonie
            </div>
            <a href="" class="navbar__playlist">creer une playlist</a>
            <input type="text" class="navbar__search" placeholder="Rechercher">
        </nav>
    </div>
{% endblock %}